*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header{
    height: 3.75rem;
    background-color: #F7F8FA;
    box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

/* sm+md */
@media(max-width: 992px){
    .syd-menu-group,.syd-menu-content,.syd-side-bar{
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
/* lg */
@media(min-width: 992px){

}

.main{
    flex: 1;
    min-height: 600px;
}

.syd-menu{
    flex: 1;
}

.syd-menu-button{
    width: 4.2rem;
    display: flex;
    justify-content: center;
}

.syd-menu-btn{
    background-color: #FFFFFF;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.syd-main-body{
    flex: 1;
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.syd-side-bar{
    width: 4.2rem;
    background-color: #F7F8FA;
    box-shadow: 2px 0px 5px -3px rgba(0, 0, 0, 0.25);
}

.syd-main-panel{
    flex: 1;
    height: 100%;
}

.default{
    fill: rgba(195, 202, 217, 1);
}

.selected{
    fill: rgba(51, 97, 255, 1);
}

.syd-side-char-btn{
    background-color: #FFFFFF;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.4);
}

.syd-side-char-img{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 2rem;
    border-style: none;
    object-fit: cover;
    object-position: center;
}

.syd-user-char-btn{
    background-color: #FFFFFF;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.4);
}

.syd-user-char-img{
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border-style: none;
    object-fit: cover;
    object-position: center;
}

.syd-user-name-nav{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #6B7A99;
}

.syd-side-add-btn{
    background-color: rgba(195, 202, 217, 1);
    height: 24px;
    width: 24px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.syd-bg-orange-light{
    background-color: #F1DED8;
}

.syd-bg-blue-light{
    background-color: #C1F1F1;
}

.syd-bg-pink-light{
    background-color: #F1C1E1;
}

.syd-bg-green-light{
    background-color: #C1F1C6;
}

.syd-menu-row{
    height: 3rem;
    display: flex;
    align-items: center;
}

.syd-menu-name{
    font-family: 'Roboto', sans-serif;
    color: #4D5E80;
    font-size: 1.05rem;
    font-weight: bold;
    text-align: left;
    overflow-x: scroll;
    white-space: nowrap;
}

.syd-menu-inline{
    list-style: none;
    display: inline;
    overflow-x: scroll;
    white-space: nowrap;
}

.syd-menu-inline li{
    display: inline;
    padding-inline: 10px;
}

.syd-menu-inline li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #7D8FB3;
    font-size: 0.8rem;
    font-weight: bold;
}

.syd-menu-input-wrap{
    border-style: none;
    border-radius: 1rem;
    border-color: #F7F8FA;
    outline: none;
    box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.syd-menu-input-icon{
    width: 5%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.syd-menu-input{
    width: 95%;
    height: 2.25rem;
    border-style: none;
    border-radius: 1rem;
    border-color: #F7F8FA;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #848c9b;
    font-size: 0.85rem;
    font-weight: bold;
}

.syd-menu-input:focus{
    border-style: none;
    border-color: #F7F8FA;
}

.syd-menu-input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #ADB8CC;
    font-size: 0.75rem;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../resources/fonts/Roboto-Bold.ttf");
}