<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/bootstrap.css">
    <link rel="stylesheet" href="../../style/style.css">
    <title>Tricaly | Home</title>
</head>
<body class="dyn-main-div">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="content-scroll-container snap-inline" id="contentScrollContainer" onload="horizontalScroller(this);">

                    <div class="content-scroll-box" id="contentScrollBox">
                        <img src="../images/0.jpg"/>
                        <div class="content-scroll-content">
                            <h4>Scientists Make Breakthrough in Renewable Energy</h4>
                            <p>In a recent study, scientists have discovered a revolutionary method to harness renewable energy from unconventional sources. This breakthrough has the potential to reshape the future of sustainable power.</p>
                            <div class="content-scroll-details">
                                <span>2023-02-15</span>
                                <span>Dr. Emily Greenfield</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script type="module" src="../../temp/json_read.js"></script>
</body>
</html>